#pathFindingAlgoritms{
    display: flex;
    gap: 10px;
}
#pathFindingAlgoritms>div{
    display: flex;
    gap: 10px;
}
#pathFindingAlgoritms>div>p{
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
#pathFindingSection{
    display: grid;
    padding: 0;
    margin: auto;
}
.node{
    aspect-ratio: 1/1;
    border: 1px solid var(--grayScale5);
    display: grid;
    place-items: center;
}
.wall{
    background-color: var(--colorScale2);
}
.start{
    background-color: #00ff00;
}
.end{
    background-color: #ff0000
}