#pathFindingAlgoritms{
    display: flex;
    gap: 10px;
}
#pathFindingAlgoritms>div{
    display: flex;
    gap: 10px;
}
#pathFindingAlgoritms>div>p{
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
#mazeSelection{
    background-color: var(--colorScale3);
    border: none;
    outline: none;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
}
#mazeSelection{
    padding: 5px 50px 5px 20px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-S);
}
#mazeSelection::before{
    content: '\25b2';
    position: absolute;
    right:10px ;
    font-size:10px;
    font-weight:900;
    transition: rotate .2s ease-in-out;
}
#mazeSelection:is(:focus){
    border-radius: var(--radius-S) var(--radius-S) 0 0;
}
#mazeSelection:is(:focus)::before{
    rotate: 180deg;
}
#mazeSelection:is(:focus)>#mazeOptions{
    display: flex;
}
#mazeOptions{
    position: absolute;
    display: flex;
    top: 100%;
    right: 0px;
    display: none;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(180deg ,var(--colorScale3) ,var(--grayScale5));
    border-radius: 0 0 var(--radius-S) var(--radius-S);
    overflow: hidden;
}
#mazeOptions>p{
    padding: 2px;
    width: 100%;
    border-bottom:1px solid var(--colorScale5);
}
#mazeOptions>p:is(:hover ,:focus){
    background-color: var(--colorScale5);
}
#pathFindButtons{
    display: flex;
}
#findPath{
    border-radius: var(--radius-M) 0 0 var(--radius-M);
}
#onDeplaceBtn{
    width: 20px;
    padding: 0;
    border-radius:0 var(--radius-M) var(--radius-M) 0;
}
#speedOption{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#speedRangeContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
#speedRangeContainer svg{
    font-size:15px;
    cursor: pointer;
}
#speedRangeContainer svg:is(:hover ,:active ,:focus){
    color: var(--colorScale3);
}
#infoSection{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
#infoSection div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(var(--fontSize-M) - 5px);
}
#infoSection div:nth-child(2){
    align-items: center;
}
#infoSection div:nth-child(3){
    justify-content: start;
}
#pathFindingSection{
    display: grid;
    padding: 0;
    margin: auto;
}
.node{
    aspect-ratio: 1/1;
    border: 1px solid var(--grayScale5);
    display: grid;
    place-items: center;
    position: relative;
}
.start{
    cursor: grab;
}
.end{
    cursor: grab;
}
.node::before{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: popIn 1s cubic-bezier(.42,0,.38,1.6);
}
.node:is(.wall)::before{
    content: '';
    background-color: var(--colorScale2);
}
.start::before{
    content: '';
    background-color: #00ff00;
}
.end::before{
    content: '';
    background-color: #ff0000
}
.visited::before{
    content: '';
    background-color: #ff8400
}
.path{
    animation: popIn 1s cubic-bezier(.42,0,.38,1.6);
}
.path::before{
    content: '';
    background-color: #ffdd00
}
@keyframes popIn {
    0%{
        scale:0;
        border-radius: 50%;
    }
    10%{
        border-radius: 50%;
    }
    50%{
        scale:1;
        border-radius: 0%;
        filter: hue-rotate(25deg);
    }
    100%{
        filter: hue-rotate(0);
    }
}