#sortingOptionsBar{
    background-color: #00000ada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
#sortingOptionsBar::before{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: linear-gradient(45deg, #3333ff 25%, #4d4dff 25%, #4d4dff 50%, #3333ff 50%, #3333ff 75%, #4d4dff 75%, #4d4dff 100%);
  background-size: 56.57px 56.57px;
  z-index: -1;
}
.sortingOption{
  display: flex;
  align-items: center;
  gap: 15px;
}
.sortingOption *{
  font-size: var(--fontSize-S);
}
#silderOption{
  flex-direction: column;
}
#alogorithmOption>p{
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
#silderOption>*{
  width: 100%;
}
#widthRange{
  appearance: none;
  background-image: linear-gradient(90deg ,var(--colorScale5) ,var(--colorScale1));
  height: 4px;
  border-radius: var(--radius-B);
  cursor: pointer;
}
#widthRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--colorScale1);
  border: 1px solid var(--grayScale1);
}
#widthRange::-moz-range-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--colorScale1);
  border: 1px solid var(--grayScale1);
}
#sortingSection{
  height: 500px;
  display: flex;
  align-items: end;
  gap: 2px;
  overflow: hidden;
  position: relative;
}
#sortingSection>.bar{
  flex-grow: 1;
  background-color: var(--colorScale3);
}
#leftInfo{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}
#leftInfo *{
  font:700 var(--fontSize-M) var(--font1);
}
#leftInfo span{
  color: var(--colorScale5);
}
#leftInfo p{
  display: flex;
  gap: 5px;
}
#numOfBars{
  position: absolute;
  top: 0px;
  right: 0px;
  font:700 var(--fontSize-M) var(--font1);
  cursor: pointer;
}
/* responsive */
@media (width<1200px){
  :root{
      --fontSize-B:28px;
      --fontSize-M:23px;
  }
}
@media (width<992px){
  :root{
      --fontSize-B:25px;
      --fontSize-M:20px;
  }
}
@media (width<768px){
  :root{
      --fontSize-B:22px;
      --fontSize-M:17px;
  }
}
@media (width<576px){
  :root{
      --fontSize-B:20px;
      --fontSize-S:15px;
  }
}
@media (width<450px){
  :root{
      --fontSize-B:18px;
      --fontSize-M:16px;
      --fontSize-S:11px;
  }
}